<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_SECRET</key>
	<string>udjbcr4cz72MsumeU6DMN1OiAp1CWO3zgn61pwEAw35sh3c24U</string>
	<key>API_KEY</key>
	<string>WToyfi3RlB8AsI4GLHxVGIOFf</string>
</dict>
</plist>
